{% extends "layout.html" %}
{% block content %}
    <section class="section">
        <div class="container">
            <form method="POST" action="{{ url_for('short.add_link') }}">
                <div class="field">
                    <label class="label">Original URL</label>
                    <div class="control">
                        <input class="input" type="text" name="original_url">
                    </div>

                </div>
                <div class="control">
                    <button type="submit" class="button is-info">Shorten</button>
                </div>

            </form>
        </div>
    </section>
    {% endblock content %}