<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>URL SHORTENER</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">      
          <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="{{ url_for('short.index') }}">Home</a>
            <a class="navbar-item" href="{{ url_for('short.stats') }}" >Stats</a>
            </div>
        </div>
    </nav>
    {% block content %}{% endblock %}
</body>
<footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>URL Shortner</strong> by Rakhi Agrawal</a>.
      </p>
    </div>
  </footer>

</html>