{% extends "layout.html" %}
{% block content %}
  <section class="section">
    <div class="container">
            <div class="field">
                <label class="label">Original URL</label>
                <div class="control">
                    <input class="input" type="text" name="original_url" value="{{ original_url }}">
                </div>
            </div>
            <div class="field">
                    <label class="label">New URL</label>
                    <div class="control">
                        <input class="input" type="text" name="original_url" value="{{ url_for('short.redirect_to_url', short_url=new_link, _external=True) }}">
                    </div>
            </div>
    </div>
  </section>
  {% endblock content %}